---
secure_dir: "openstack"
local_dir:  '{{ secure_dir }}/local'

edx_platform_repo: "https://{{ COMMON_GIT_MIRROR }}/edx/edx-platform.git"
edx_platform_version: "master"
certs_version: "{{ edx_platform_version }}"
forum_version: "{{ edx_platform_version }}"
xqueue_version: "{{ edx_platform_version }}"

MONGO_CLUSTER_KEY: 'password'

NGINX_ENABLE_SSL: True
NGINX_REDIRECT_TO_HTTPS: True
NGINX_SSL_CERTIFICATE: "{{ secure_dir }}/files/ssl-cert.pem"
NGINX_SSL_KEY: "{{ secure_dir }}/files/ssl-cert.key"
keepalived_shared_ip: "192.168.122.110"

openid_workaround: True
COMMON_ENABLE_DATADOG: False
COMMON_ENABLE_SPLUNKFORWARDER: False
ENABLE_LEGACY_ORA: !!null
COMMON_SECURITY_UPDATES: False
SECURITY_UNATTENDED_UPGRADES: False
SECURITY_UPDATE_ALL_PACKAGES: False

COMMON_MYSQL_ADMIN_PASS: "password"
COMMON_MYSQL_READ_ONLY_PASS: "password"
COMMON_MYSQL_MIGRATE_PASS: "password"
EDXAPP_MYSQL_PASSWORD: "password"
XQUEUE_MYSQL_PASSWORD: "password"
EDX_NOTES_API_MYSQL_DB_PASS: "password"

ANALYTICS_API_DATABASES:
  default:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ ANALYTICS_API_DEFAULT_DB_NAME }}'
    USER: 'api001'
    PASSWORD: 'password'
    HOST: 'localhost'
    PORT: '3306'
  reports:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ ANALYTICS_API_REPORTS_DB_NAME }}'
    USER: 'reports001'
    PASSWORD: 'password'
    HOST: 'localhost'
    PORT: '3306'

INSIGHTS_DATABASES:
  default:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ INSIGHTS_DATABASE_NAME }}'
    USER: 'rosencrantz'
    PASSWORD: 'secret'
    HOST: '127.0.0.1'
    PORT: '3306'

ECOMMERCE_DATABASES:
  default:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ ECOMMERCE_DEFAULT_DB_NAME }}'
    USER: 'ecomm001'
    PASSWORD: 'password'
    HOST: 'localhost'
    PORT: '3306'
    ATOMIC_REQUESTS: true
    CONN_MAX_AGE: 60

PROGRAMS_DATABASES:
  default:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ PROGRAMS_DEFAULT_DB_NAME }}'
    USER: 'programs001'
    PASSWORD: 'password'
    HOST: 'localhost'
    PORT: '3306'
    ATOMIC_REQUESTS: true
    CONN_MAX_AGE: 60

EDXAPP_EDX_API_KEY: "PUT_YOUR_API_KEY_HERE"
EDXAPP_EDXAPP_SECRET_KEY: "DUMMY KEY CHANGE BEFORE GOING TO PRODUCTION"
EDXAPP_ENABLE_THIRD_PARTY_AUTH: True
EDXAPP_LMS_NGINX_PORT: 80
EDXAPP_LMS_SSL_NGINX_PORT: 443
EDXAPP_CMS_NGINX_PORT: 80
EDXAPP_CMS_SSL_NGINX_PORT: 443
EDXAPP_ALLOW_ALL_ADVANCED_COMPONENTS: True
EDXAPP_ENABLE_SYSADMIN_DASHBOARD: True
EDXAPP_ENABLE_OAUTH2_PROVIDER: True
EDXAPP_OAUTH_ENFORCE_SECURE: False
EDXAPP_SITE_NAME: "lms.example.com"
EDXAPP_LMS_BASE: "lms.example.com"
EDXAPP_LMS_BASE_SCHEME: https
EDXAPP_CMS_BASE: "studio.example.com"
EDXAPP_PLATFORM_NAME: "Open edX"
EDXAPP_PAYMENT_SUPPORT_EMAIL: "billing@example.com"
EDXAPP_TECH_SUPPORT_EMAIL: 'technical@example.com'
EDXAPP_CONTACT_EMAIL: 'info@example.com'
EDXAPP_BUGS_EMAIL: 'bugs@example.com'
EDXAPP_DEFAULT_FROM_EMAIL: 'registration@example.com'
EDXAPP_DEFAULT_FEEDBACK_EMAIL: 'feedback@example.com'
EDXAPP_DEFAULT_SERVER_EMAIL: 'devops@example.com'
EDXAPP_BULK_EMAIL_DEFAULT_FROM_EMAIL: 'no-reply@example.com'
EDXAPP_BULK_EMAIL_LOG_SENT_EMAILS: false
EDXAPP_UNIVERSITY_EMAIL: 'university@example.com'
EDXAPP_PRESS_EMAIL: 'press@example.com'
EDXAPP_PLATFORM_TWITTER_ACCOUNT: '@YourPlatformTwitterAccount'
EDXAPP_FOOTER_ORGANIZATION_IMAGE: "themes/edx.org/images/logo.png"
edxapp_use_custom_theme: true
edxapp_theme_name: default
edxapp_theme_source_repo: "https://github.com/Stanford-Online/edx-theme.git"
edxapp_theme_version: master
EDXAPP_EXTRA_REQUIREMENTS: []
EDXAPP_ADDL_INSTALLED_APPS: []

ECOMMERCE_REPOS:
  - PROTOCOL: "{{ COMMON_GIT_PROTOCOL }}"
    DOMAIN: "{{ COMMON_GIT_MIRROR }}"
    PATH: "{{ COMMON_GIT_PATH }}"
    REPO: ecommerce.git
    VERSION: "{{ ECOMMERCE_VERSION }}"
    DESTINATION: "{{ ecommerce_code_dir }}"
ECOMMERCE_SECRET_KEY: 'Your secret key here'
ECOMMERCE_JWT_SECRET_KEY: 'SET-ME-PLEASE'
ECOMMERCE_JWT_ISSUERS:
  - '{{ ECOMMERCE_LMS_URL_ROOT }}/oauth2'
  - 'ecommerce_worker'
ECOMMERCE_EDX_API_KEY: "{{ EDXAPP_EDX_API_KEY }}"
ECOMMERCE_VERSION: "{{ edx_platform_version }}"
ECOMMERCE_HOSTNAME: '~^((stage|prod)-)?ecommerce.*'
ECOMMERCE_ECOMMERCE_URL_ROOT: 'https://ecommerce.example.com'
ECOMMERCE_LMS_URL_ROOT: "{{ EDXAPP_LMS_BASE_SCHEME }}://{{ EDXAPP_LMS_BASE }}"
ECOMMERCE_PLATFORM_NAME: "Open edX"
ECOMMERCE_NGINX_PORT: 80
ECOMMERCE_SSL_NGINX_PORT: 443
ECOMMERCE_OSCAR_FROM_EMAIL: 'oscar@example.com'
ECOMMERCE_PAYPAL_MODE: 'sandbox'
ECOMMERCE_PAYPAL_CLIENT_ID: 'SET-ME-PLEASE'
ECOMMERCE_PAYPAL_CLIENT_SECRET: 'SET-ME-PLEASE'
ECOMMERCE_SOCIAL_AUTH_EDX_OIDC_KEY : 'ecommerce-key'
ECOMMERCE_SOCIAL_AUTH_EDX_OIDC_SECRET : 'ecommerce-secret'
ECOMMERCE_SOCIAL_AUTH_REDIRECT_IS_HTTPS: false
EDXAPP_ECOMMERCE_PUBLIC_URL_ROOT: "{{ ECOMMERCE_ECOMMERCE_URL_ROOT }}"
EDXAPP_ECOMMERCE_API_URL: "{{ ECOMMERCE_ECOMMERCE_URL_ROOT }}/api/v2"
EDXAPP_ECOMMERCE_API_SIGNING_KEY: "{{ ECOMMERCE_JWT_SECRET_KEY }}"
