---
EDXAPP_MYSQL_HOST: "{{ keepalived_shared_ip }}"
XQUEUE_MYSQL_HOST: "{{ keepalived_shared_ip }}"
EDX_NOTES_API_MYSQL_HOST: "{{ keepalived_shared_ip }}"

EDXAPP_MONGO_HOSTS: "{{ groups['backend_servers'] }}"
FORUM_MONGO_HOSTS: "{{ groups['backend_servers'] }}"

FORUM_ELASTICSEARCH_HOST: "{{ groups['backend_servers'][0] }}"
EDX_NOTES_API_ELASTICSEARCH_URL: http://{{ groups['backend_servers'][0] }}:9200

FORUM_SINATRA_ENV: "production"
FORUM_RACK_ENV: "production"

EDXAPP_RABBIT_HOSTNAME: "localhost"
XQUEUE_RABBITMQ_HOSTNAME: "localhost"
RABBITMQ_CLUSTERED: no
