---
MONGO_CLUSTERED: yes
mongo_cluster_members: "{{ play_hosts }}"
ELASTICSEARCH_CLUSTERED: yes
MARIADB_CLUSTERED: yes
MARIADB_HAPROXY_HOSTS: ""
KEEP_BACKUPS: 3
OS_ENV:
  OS_AUTH_URL: https://example.com:5000/v2.0
  OS_TENANT_NAME: example.com
  OS_USERNAME: user@example.com
  OS_PASSWORD: password
keepalived_auth_pass: "123456789"
keepalived_shared_iface: "eth0"
